'{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for msg in messages %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="container-fluid row pb-5 colored-section">

    <div class="col-lg-6 pb-5">
        <!-- <h1 class="fs-3">DEVELOP WITH</h1> -->
        <div class="typewriter">
            <p class=" big-heading words "><span class="fw-bold " style="color: #252d6e;">CHRIST</span>
                <span style="color:#003160 ;">Infotech</span>
            </p>
        </div>

        <div class="waviy">
            <span style="--i:1">R</span>
            <span style="--i:2">e</span>
            <span style="--i:3">s</span>
            <span style="--i:4">e</span>
            <span style="--i:5">a</span>
            <span style="--i:6">r</span>
            <span style="--i:7">c</span>
            <span style="--i:8">h</span>
            <span style="--i:9"> </span>
            <span style="--i:10"> </span>
            <span style="--i:11">&</span>
            <span style="--i:12"> </span>
            <span style="--i:13"> </span>
            <span style="--i:14">D</span>
            <span style="--i:15">e</span>
            <span style="--i:16">v</span>
            <span style="--i:17">e</span>
            <span style="--i:18">l</span>
            <span style="--i:19">e</span>
            <span style="--i:20">o</span>
            <span style="--i:21">p</span>
            <span style="--i:22">e</span>
            <span style="--i:23">m</span>
            <span style="--i:24">e</span>
            <span style="--i:25">n</span>
            <span style="--i:26">t</span>
            <span style="--i:27"> </span>
            <span style="--i:28">C</span>
            <span style="--i:29">e</span>
            <span style="--i:30">n</span>
            <span style="--i:31">t</span>
            <span style="--i:32">e</span>
            <span style="--i:33">r</span>
            <span style="--i:34">, </span>
            <span style="--i:35">L</span>
            <span style="--i:36">a</span>
            <span style="--i:37">v</span>
            <span style="--i:38">a</span>
            <span style="--i:39">s</span>
            <span style="--i:40">a</span>
            <span style="--i:41">.</span>
        </div>


        <p class="lead my-4 text-primary mt-5">
            A beautiful business website is ineffective
            if it is not secure
            & if it fails to generate leads.
            We create & manage fast, secure,search engine friendly
            business websites that will help youwin new customers.
        </p>
        <div class="spacer"></div>

    </div>

    <div class="col-lg-6 pt-5 h-100">
        <img class="title-image img-fluid rounded" src="{% static 'images/header-gif.gif' %}" alt="banner-img">
    </div>
</div>


<!-- Infotech-->
<section class="white-section" id="about">
    <div class="container-fluid">
        <div class="row align-items-cenetr justify-content-center">
            <div class="col-md">
                <img src="{% static 'images/about-us.gif' %}" alt="" class="rounded img-fluid">
            </div>
            <div class="col-md">
                <h2 class="section-heading pt-5">CHRIST Infotech</h2>
                <p class="lead mt-3 fs-6 ">CHRIST-Infotech the research and development wing of CHRIST Deemed to be
                    University, Pune Lavas Campus-CHRIST-Infotech operates with ambitions, ideas and mission in the
                    field of Information Technology and Data Science.
                </p>
                <p>We offer cutting-edge, ground-breaking solutions across a range of fields, including machine
                    learning/artificial intelligence, mobile application development, website designing and web-app
                    development.</p>
                <p>CHRIST Infotech helps organizations in adopting a cutting-edge digital perspective in the most
                    dependable and cost-effective manner possible. We help you overcome technological obstacles and feel
                    less overwhelmed by your digital transitions. Additionally, we are happy to offer internships to
                    students, and we work hard to help the young, bright students progress to the next level.</p>


            </div>

        </div>
    </div>
</section>



<!-- about us -->
<section class="colored-section" id="ourFocus">
    <div class="container-fluid">
        <div class="row mb-5">
            <h2 class="section-heading pb-3 d-flex justify-content-center">
                WE FOCUS ON
            </h2>
        </div>
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3 mt-5">
                            <i class="bi bi-phone icon-size"></i>
                        </div>
                        <h3 class="card-title mb-3">App Development</h3>
                        <p class="card-text mb-5">
                            Our mobile app team create apps mostly for small-medium
                            clients with excellent design and top quality within reasonable
                            time and budget. Our team is comprised of native app developers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3 mt-5">
                            <i class="bi bi-laptop icon-size"></i>
                        </div>
                        <h3 class="card-title mb-3">Web Development</h3>
                        <p class="card-text mb-5">
                            An interactive web application readily amplifies user engagement.
                            We craft your web destination with a clear
                            view of the business goal and ensure that it supports the user-journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3 mt-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                class="bi bi-robot" viewBox="0 0 16 16">
                                <path
                                    d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z" />
                                <path
                                    d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z" />
                            </svg>
                        </div>
                        <h3 class="card-title mb-3">AI-IOT Projects</h3>
                        <p class="card-text mb-5">
                            Data analytics is the future, and the future is NOW! Every mouse click,
                            keyboard button press, swipe or tap is used to shape business decisions.
                            Data is information, and information is power.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="white-section " id="quicklinks">

    <div class="container-fluid">
        <div class="row mb-5">
            <h2 class="section-heading pb-3 d-flex justify-content-center">
                Quick Links
            </h2>
        </div>
        <div class="row text-center g-4">
            <div class="col-md">
                <a href="{% url 'ourProduct' %}" target="_blank" rel="noopener noreferrer">
                    <div class="card bg-light text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <img src="{% static 'images/lud_logo.png' %}" alt="" height="100" width="130">
                            </div>
                            <h5 class="card-text text-primary mb-3">Let Us Dream</h5>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md">
                <a href="{% url 'ourProduct' %}" target="_blank" rel="noopener noreferrer">
                    <div class="card bg-light text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <img src="{% static 'images/project-icon.png' %}" alt="" height="100" width="130">
                            </div>
                            <h6 class="card-text text-primary mb-1">
                                Academic & Professional Support 
                            </h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md">
                <a href="{% url 'ourProduct' %}" target="_blank" rel="noopener noreferrer">
                    <div class="card bg-light text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <img src="{% static 'images/logo_green.png' %}" alt="" height="100">

                            </div>
                            <h5 class="card-title text-primary mb-3">Greenvasa</h5>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md">
                <a href="{% url 'ourProduct' %}" target="_blank" rel="noopener noreferrer">
                    <div class="card bg-light text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <img src="{% static 'images/ezBus.png' %}" alt="" height="100" width="130">
                            </div>
                            <h5 class="card-title text-primary mb-3">EZBus</h5>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md">
                <a href="{% url 'ourProduct' %}" target="_blank" rel="noopener noreferrer">
                    <div class="card bg-light text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <div class="h1 mb-3">
                                    <img src="{% static 'images/project-icon.png' %}" alt="" height="100" width="130">
                                </div>
                            </div>
                            <h5 class="card-title text-primary mb-3">MentorEezy</h5>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md">
                <a href="{% url 'ourProduct' %}" target="_blank" rel="noopener noreferrer">
                    <div class="card bg-light text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <img src="{% static 'images/wallet_logo.webp' %}" alt="" height="80" width="80">
                            </div>
                            <h5 class="card-title text-primary mb-3">Wallet View - Track</h5>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Christ University  -->

<section class="colored-section" id="services">
    <div class="container-fluid">

        <div class="row align-items-cenetr justify-content-between">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
                <img src="{% static 'images/sli-2.png' %}" alt="" class="rounded img-fluid">
            </div>
            <div class="col-lg-6  col-sm-12">
                <a href="https://lavasa.christuniversity.in/" class="link-dark" target="_blank">
                    <span class="fs-2">
                        CHRIST UNIVERSITY <span class="fs-6">LAVASA, PUNE</span></span>
                </a>
                <p class="lead mt-3 fs-6">The off-site campus of CHRIST University offers a number of UG, PG, and
                    doctoral-level programmes in the field of Commerce, Law, Data Science and Management. Equipped with
                    state-of-the-art facilities and highly qualified faculties, the Analytical Hub aims to help students
                    achieve academic excellence through a diverse range of teaching methodology, modern curriculum and
                    innovative research practices. </p>
                <p class="lead mt-3 fs-6">CHRIST(Deemed to be University) focuses on developing skills in emerging
                    technologies, statistical analysis, and computational techniques. Students will ideate and develop
                    research skills, while strengthening their core competency in the subject. With a combination of
                    in-depth theoretical concepts and practical application, students will add significant value to the
                    field of data science and the industry.</p>
            </div>
        </div>
    </div>
</section>
<!-- test -->


<section id="contactus">
    <footer id="footer">
        <div class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="section-heading">Subscribe to our Newsletter</h2>
                        <p>Join the Newsletter & Get them Free, Every Month!</p>
                    </div>
                    <div class="col-lg-6 ">
                        <form class="needs-validation" action="" method="post" autocomplete="off">
                            {% csrf_token %}
                            <input type="email" autocomplete="off" class="form-control"
                                placeholder="Enter Email Address" id="validationCustom01" name="email" required><input
                                type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>

{% endblock content %}