{% extends 'base.html' %}
{% load static %}

{% block content %}


</div>
</section>

<section class="colored-section">
  <div class="container-fluid-other">
    <div class="row">
      <h2 class="section-heading pb-5 d-flex justify-content-center">
        EZBus
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'images/bus_1.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/bus_2.png' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 ml-auto mt-4 mt-md-0">
        <div class="m-3">
          <p>
            The EZbus Website for Students is an innovative platform designed to simplify and streamline the process of
            reserving bus seats for students. This online system aims to enhance the overall transportation experience
            for students by providing a user-friendly interface and efficient booking process.
          </p>
          <p>
            for more details visit this <a href="http://ebuslavasa.christuniversity.in/" target="_blank">link</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="white-section">
  <div class="container-fluid-other">
    <div class="row">
      <h2 class="section-heading pb-3 d-flex justify-content-center">
        Greenvasa
      </h2>
    </div>
    <div class="row">

      <div class="col-md-6">
        <div class="m-5 p-3">

        </div>
        <div id="greenvasa" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'images/green.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/green_1.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/green_2.png' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#greenvasa" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#greenvasa" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-md-6 col-lg-5 ml-auto  mt-4 mt-md-0">
        <div class="m-3">
          <p>
            <img src="{% static 'images/logo_green.png' %}" alt="" height="80px" width="140px">
          </p>

          <p class="margin-top-s">
            GREENVASA is a way of living sustainably in the picturesque town of LAVASA, Pune. It is a small step at the
            University to conserve resources, it’s a step in the direction to reduce our carbon footprint.
          </p>
          <p>
            The concept very simply put is to buy and sell quality second-hand goods within the University to avoid
            wasteful spending and reduce future waste. Things that have an extended life can be sold to your fellow
            students or staff using our proprietary technology.
          </p>
          <p>
            It’s a platform built by the students, for the students. Earn money from your second-hand goods by selling
            on Greenvasa, and reduce your footprint by buying second-hand quality goods. Let’s REDUCE, REUSE, and then
            RECYCLE. Happy Sustainable living.
          </p>
          <p>
            for more details visit this <a href="http://greenvasa.christinfotech.org/" target="_blank">link</a>
          </p>
        </div>
      </div>
    </div>
</section>

<section class="colored-section">
  <div class="container-fluid-other">
    <div class="row">
      <h2 class="section-heading pb-3 d-flex justify-content-center">
        Let us Dream
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="lud" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'images/lud_1.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/lud_2.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/lud_3.png' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#lud" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#lud" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 ml-auto  mt-4 mt-md-0">
        <div class="m-3">
          <p>
            <img src="{% static 'images/lud_logo.png' %}" alt="" height="100" width="130">
          </p>
          <!-- <h4>About </h4> -->

          <p class="margin-top-s text-justify">
            LET US DREAM is a locally rooted and globally established Not-for-Profit Organization. It was conceived with
            the idea to create holistically developed communities world over. It has strived for this since its
            inception.
            We, at LET US DREAM, firmly vouch in the idea of a global family, where each individual and each society
            works interdependently to create a sustainable world.
          </p>
          <p>
            The program is composed of likeminded people from all ethnic groups around the world to support, guide, and
            lead this vision of holistic development in the growth of individuals and the society.
          </p>
          <p>
            For more details visit this <a href="https://letusdream.org/" target="_blank">link</a>
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="colored-section">
  <div class="container-fluid-other">
    <div class="row">
      <h2 class="section-heading pb-3 d-flex justify-content-center">
        APS-Lavasa
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="aps" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'images/APS_2.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/APS_1.png' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#aps" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 ml-auto  mt-4 mt-md-0">
        <div class="m-3">

          <h4>Academic and Professional Support System </h4>

          <p class="margin-top-s text-justify">
            The benefits of having APS (Academic and Professional Support) are that learners can attend sessions as per
            their convenience.
            The system will provide easy-to-access Web based service which can give management an effective means of
            managing all resources.
            The admin and Management can manage all the contents (chats, feedbacks, comments) that happens in the
            portal.
          </p>
          <p>
            The Academic and professional support System represents an innovative shift in the field of learning,
            providing rapid access to specific knowledge and information.
          </p>
          <p>
            For more details visit this <a href="http://mentoreezy.christinfotech.org/" target="_blank">link</a>
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="colored-section">
  <div class="container-fluid-other">
    <div class="row">
      <h2 class="section-heading pb-3 d-flex justify-content-center">
        MentorEezy
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- <img alt="Web Studio" class="img-fluid" src="https://raw.githubusercontent.com/solodev/vertically-centering/master/images/vc-img-1.jpg" /> -->
        <div id="mentor" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'images/mentor_1.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/mentor_2.png' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#mentor" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#mentor" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 ml-auto  mt-4 mt-md-0">
        <div class="m-3">

          <p class="margin-top-s text-justify">
            MentorEezy is an application developed for maintaining mentoring records for the students in the Department
            of Data Science, Christ Deemed to be University, Pune Lavasa Campus.
          </p>
          <p>
            For more details visit this <a href="https://mentoreezy.christinfotech.org/login/?next=/"
              target="_blank">link</a>
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="colored-section">
  <div class="container-fluid-other">
    <div class="row">
      <h2 class="section-heading pb-3 d-flex justify-content-center">
        Wallet View - Track
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="m-5 p-3">

        </div>
        <!-- <img alt="Web Studio" class="img-fluid" src="https://raw.githubusercontent.com/solodev/vertically-centering/master/images/vc-img-1.jpg" /> -->
        <div id="wallet" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'images/wallet_1.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/wallet_2.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/wallet_3.png' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#wallet" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#wallet" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 ml-auto  mt-4 mt-md-0">
        <div class="m-3">
          <p>
            <img src="{% static 'images/wallet_logo.webp' %}" alt="" height="100" width="100">
          </p>
          <!-- <h4>Academic and Professional Support System </h4> -->

          <p class="margin-top-s text-justify">
            Wallet View - Track, Split, and Budget app can help to track money use, manage the budget, and understand
            daily usage expenses.
            This app helps you to manage your money and expenses daily.
          </p>
          <p>
            For more details visit this <a
              href="https://play.google.com/store/apps/details?id=walletview.example.walletview&pli=1"
              target="">link</a>
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}