{% extends 'base.html' %}
{% load static %}

{% block extraStyles %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock extraStyles %}

{% block content %}

</div>
</section>

<!-- our team -->

<section class="colored-section" id="developer">
    
    <div class="container-fluid-other">
        <h2 class="text-center section-heading mb-5">OUR TEAM</h2>
        <div class="row g-6 justify-content-center">
            <!-- Single Starts  -->
            <div class="col-lg-4 col-md-4">
                <div class="team__item set-bg" style="background-image: url('{% static 'images/ft-11.jpg'%}');">                        
                <div class="team__text">
                    <div class="team__title">
                    <h4>Dr Fr Lijo Thomas</h4>
                    <span>Director & Dean, Lavasa, Pune</span>
                    </div>
                    <!-- <p class="desc">Dr (Fr) Lijo Thomas is currently serving as the Director & Dean at Pune Lavasa Campus.</p> -->
                    <div class="team__social">
                        <a href="#" target="_blank" ><i class="bi bi-twitter text-light mx-1"></i></a>
                        <a href="#"><i class="bi bi-github text-light mx-1"></i></a>
                        <a href="#" target="_blank" ><i class="bi bi-linkedin text-light mx-1"></i></a>
                        <a href="#" target="_blank" ><i class="bi bi-instagram text-light mx-1"></i></a>
                    </div>
                </div>
                </div>
            </div>
            <!-- Single Ends    -->
                <!-- Single Starts  -->
                <div class="col-lg-4 col-md-4">
                    <div class="team__item set-bg" style="background-image: url('{% static 'images/ft-1.jpg'%}');">                        
                    <div class="team__text">
                        <div class="team__title">
                        <h4>Dr Fr Jossy P George</h4>
                        <span>Director & Dean, Delhi NCR Campus</span>
                        </div>
                        <!-- <p class="desc">He has a dual masters degree in Computer Science and Human Resources from the USA and has done his FDPM from IIMA. </p> -->
                        <div class="team__social">
                            <a href="https://mobile.twitter.com/frjossy" target="_blank" ><i class="bi bi-twitter text-light mx-1"></i></a>
                            <a href="#"><i class="bi bi-github text-light mx-1"></i></a>
                            <a href="https://in.linkedin.com/in/frjossy" target="_blank" ><i class="bi bi-linkedin text-light mx-1"></i></a>
                            <a href="https://www.instagram.com/fr.jossy/?hl=en" target="_blank" ><i class="bi bi-instagram text-light mx-1"></i></a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Single Ends    -->
                <div class="col-lg-4 col-md-4">
                    <div class="team__item set-bg" style="background-image: url('{% static 'images/ft-2.jpg' %}  ') ;">
                    <div class="team__text">
                        <div class="team__title">
                        <h4>Fr Justin P Varghese</h4>
                        <span>Academic Coordinator</span>
                        </div>
                        <!-- <p class="desc text-justify" >Fr Justin P Varghese is currently serving as the Academic Coordinator at Pune Lavasa Campus. </p> -->
                        <div class="team__social">
                            <a href="#"><i class="bi bi-twitter text-light mx-1"></i></a>
                            <a href="#"><i class="bi bi-github text-light mx-1"></i></a>
                            <a href="https://in.linkedin.com/in/justin-p-varghese-2661351a3?trk=public_profile_browsemap" target="_blank" ><i class="bi bi-linkedin text-light mx-1"></i></a>
                            <a href="#"><i class="bi bi-instagram text-light mx-1"></i></a>
                        </div>
                    </div>
                    </div>
                </div>          
        </div>

        <!-- Our Team Details -->

        <div class="row">
            <!-- Single Starts  -->
            <div class="col-lg-4 col-md-6 ">
                <div class="team__item set-bg " style="background-image: url('{% static 'images/team-1.jpg' %}  ');">
                <div class="team__text">
                    <div class="team__title">
                    <h4>Thomas K T</h4>
                    <span>Assistant Professor</span>
                    </div>
                    <!-- <p class="desc text-justify">KT Thomas is an Assistant Professor in the Dept. of Data Science, Christ University Pune Lavasa Campus. He has more than 13 yrs of experience in teaching and 8+ yrs of experience in the IT industry in India & the USA. </p> -->
                    <div class="team__social">
                        <a href="#"><i class="bi bi-twitter text-light mx-1"></i></a>
                        <a href="#"><i class="bi bi-github text-light mx-1"></i></a>
                        <a href="https://in.linkedin.com/in/thomas-k-t-50795565" target="_blank" ><i class="bi bi-linkedin text-light mx-1"></i></a>
                        <a href="#"><i class="bi bi-instagram text-light mx-1"></i></a>
                    </div>
                </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="team__item set-bg" style="background-image: url('{% static 'images/team-2.jpg' %}  ');">
                <div class="team__text">
                    <div class="team__title">
                    <h4>Alwin Joseph</h4>
                    <span>Assistant Professor</span>
                    </div>
                    <!-- <p class="desc text-justify">Mr Alwin Joseph is an Assistant Professor at CHRIST (Deemed to be University), Pune Lavasa Campus. He holds a Post Graduate degree in Computer Applications from CHRIST (Deemed to be University), Bangalore Central Campus. </p> -->
                    <div class="team__social">
                        <a href="#"><i class="bi bi-twitter text-light mx-1"></i></a>
                        <a href="#"><i class="bi bi-github text-light mx-1"></i></a>
                        <a href="https://in.linkedin.com/in/alwin-joseph-0692b8120" target="_blank" ><i class="bi bi-linkedin text-light mx-1"></i></a>
                        <a href="#"><i class="bi bi-instagram text-light mx-1"></i></a>
                    </div>
                </div>
                </div>
            </div>      
            
            <!-- Single Starts  -->
            <div class="col-lg-4 col-md-6">
                <div class="team__item set-bg" style="background-image: url('{% static 'images/team-3.jpg' %}  ');">
                <div class="team__text">
                    <div class="team__title">
                    <h4>Alanso Mathew</h4>
                    <span>Software Developer</span>
                    </div>
                    <!-- <p class="desc text-justify">Alanso Mathew is working as Software Developer in CHRIST Infotech.</p> -->
                    <div class="team__social">
                        <a href="https://twitter.com/alansomathew" target="_blank"><i class="bi bi-twitter text-light mx-1"></i></a>
                        <a href="#" target="_blank" ><i class="bi bi-github text-light mx-1"></i></a>
                        <a href="#"><i class="bi bi-linkedin text-light mx-1"></i></a>
                        <a href="#"><i class="bi bi-instagram text-light mx-1"></i></a>
                    </div>
                </div>
                </div>
            </div>
            <!-- Single Ends    -->
    </div>
    </div>
</section>

                                                            <!-- Interns   -->
 <section class="colored-section" id="developer">
    <div class="container-fluid-other">
        <h2 class="text-center section-heading mb-5">OUR PAST INTERNS</h2>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="{% static 'images/default.png' %}" class="rounded-circle mb-3" width="100"
                            height="100" alt="Intern-1">
                        <h5 class="card-title mb-3">Rohan Harchandani</h5>

                        <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="https://github.com/rohanhar16" target="_blank" ><i class="bi bi-github text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="{% static 'images/intern-2.jpg' %}" class="rounded-circle mb-3" width="100"
                            height="100" alt="Intern-2">
                        <h5 class="card-title mb-3">Stebin George</h5>

                        <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-github text-dark mx-1"></i></a>
                        <a href="https://www.linkedin.com/in/stebin-george" target="_blank" ><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="{% static 'images/intern-3.jpg' %}" class="rounded-circle mb-3" width="100"
                            height="100" alt="Intern-3">
                        <h5 class="card-title mb-3">Tushar Bhalerao</h5>

                        <a href="https://twitter.com/tushinrush" target="_blank"><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="https://github.com/Rinester88" target="_blank" ><i class="bi bi-github text-dark mx-1"></i></a>
                        <a href="https://www.linkedin.com/in/tushar-bhalerao-955862167" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="https://www.instagram.com/tushar_bhalerao_01" target="_blank"><i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

                                    <!-- Past Employeess -->

<section class="colored-section" id="ourTeam">
    <div class="container-fluid">
        <h2 class="section-heading text-center pb-3 mb-4">OUR PAST EMPLOYEE</h2>        
        <div class="row g-4 mt-3">         

            <div class="col-md-6 col-lg-3">
                <div class="card bg-white">
                    <div class="card-body text-center">
                        <img src="{% static 'images/team-4.jpg' %}" class="rounded-circle mb-3" width="100" height="100"
                            alt="Team-4">
                        <h5 class="card-title mb-3">Sonali Rathod</h5>
                        {% comment %} <p class="card-text">Sonali Rathod is working as Software Develeoper in CHRIST Infotech.</p> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card bg-white">
                    <div class="card-body text-center">
                        <img src="{% static 'images/team-5.jpg'  %}" class="rounded-circle mb-3" width="100" height="100"
                            alt="Team-4">
                        <h5 class="card-title mb-3">Arjun S</h5>
                        {% comment %} <p class="card-text">Arjun S is working as Software Develeoper in CHRIST Infotech.</p> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}